/* Reset de estilos */
* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}

.navbar {
	background-color: #333;
	color: #fff;
	padding: 15px;
	text-align: center;
	white-space: nowrap;
}

.navbar a.link-adicionar {
	color: yellow;
}

.navbar h1 {
	margin: 0;
	color: #fff;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
}

body {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin: 0;
		padding: 0;
		background-color: #f1f1f1;
}

.container {
		max-width: 800px;
		margin: 20px auto;
		padding: 20px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Estilo dos boxes */
.box {
		background-color: #f9f9f9;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 20px;
		margin-bottom: 20px;
}

.box h2 {
		font-size: 24px;
		margin-bottom: 10px;
}

.box p {
		font-size: 16px;
		line-height: 1.5;
}

/* Estilo dos botões */
button {
		background-color: #333;
		color: #fff;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
}

button:hover {
		background-color: #555;
}

/* Estilo da tabela */
table {
		width: 100%;
		border-collapse: collapse;
}

th, td {
		padding: 10px;
		border: 1px solid #ddd;
		text-align: left;
}

th {
		background-color: #f2f2f2;
}

/* Estilo responsivo */
@media (max-width: 768px) {
		.navbar {
				flex-direction: column;
				align-items: flex-start;
		}

		.navbar a {
				margin-left: 0;
				margin-top: 10px;
		}
}
.div-resp {
	overflow-x: auto;
}

.gr8 td {
	background-color: #ffdbfc;
}